.lolo{
    background-image: url(./img/Rectangle\ \(2\).png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.lol{
    background-image: url(./img/Снимок\ экрана\ от\ 2021-07-02\ 23-48-24\ 1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.bgg{
    background-image: url(./img/Rectangle\ \(12\).png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.bg1{
    background-image: url(./img/Rectangle\ \(13\).png);
    background-repeat: no-repeat;
    background-size: 100%;
}
